.bg-accent-outline {
    border: 2px solid var(--accent-primary);
    border-radius: 0;
    padding: 5px 25px;
    transition: all .25s ease-in-out;
    display: inline-block;
}

.bg-accent-outline:hover {
    border: 2px solid var(--accent-primary);
    background: var(--accent-primary);
    color: white;
}

.btn-accent-primary {
    color: white;
    border: 2px solid var(--accent-primary);
    background: var(--accent-primary);
    padding: 10px 50px;
    text-decoration: none !important;
    transition: all .25s ease-in-out;
    display: inline-block;
    white-space: nowrap;
}

.btn-accent-primary:hover {
    color: var(--accent-primary) !important;
    background: white;
}